body{
    font-family: Arial, Helvetica, sans-serif !important;
}
nav{
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
}
.hovers{
    position: relative;
}
.hovers::after{
    content: '';
    width: 0%;
    height: 3px;
    background: lightblue;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.hoverss::after{
    content: '';
    width: 0%;
    height: 3px;
    background: lightblue;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.hoverss:hover::after{
    left: 0;
    width: 100%;
}
.footers{
    background-color: rgba(11,11,48);
}
.hoverss{
    position: relative;
}
i{
    color: coral;
}
.hovers:hover::after{
    left: 0;
    width: 100%;
}
.title-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
    }
img{
    object-fit: cover;
}
.inner{
    overflow: hidden;
}
.container{
    margin-top: 8%;
}
.inner img{
    transition: all 500ms ease;
}
.inner:hover img{
    transform: scale(1.5);
}
@media(max-width:600px){
    h1{
        margin-top: 30px !important;
    }
}