body{
    font-family: Arial, Helvetica, sans-serif !important;
}
nav{
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
}
header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/IMG_20190607_130604_360.jpg')center/cover no-repeat;
    height:220vh;
}
.height{
    height: 100vh;
}
.hovers{
    position: relative;
}
.hovers::after{
    content: '';
    width: 0%;
    height: 3px;
    background: lightblue;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.hoverss::after{
    content: '';
    width: 0%;
    height: 3px;
    background: lightblue;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.hoverss:hover::after{
    left: 0;
    width: 100%;
}
.footers{
    background-color: rgb(11, 11, 48);
}
.hoverss{
    position: relative;
}
i:hover{
    color: rgb(97, 230, 185) !important;
}
.hovers:hover::after{
    left: 0;
    width: 100%;
}
.title-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
    }
img{
    object-fit: cover;
}
.inner{
    overflow: hidden;
}
.container{
    margin-top: 8%;
}
.inner img{
    transition: all 500ms ease;
}
.inner:hover img{
    transform: scale(1.5);
}

/* Responsive Design */
@media(max-width:786px){
    header{
        height: 100vh !important;
    }
}
@media(max-width:500px){
    header h1{
        font-size: 20px !important;
        margin-bottom: 70px;
    }
    img{
        height: 15rem !important;
    }
    section h1{
        font-size: 25px;
    }
    section  p{
        font-size: 20px !important;
        padding-top: 15px
    }
    ;
    section p .para{
        text-align: start !important;
    }

}